<div id="<%= dom_id question_option %>">
  <p>
    <strong>Question:</strong>
    <%= question_option.question_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= question_option.title %>
  </p>

  <p>
    <strong>Is correct:</strong>
    <%= question_option.is_correct %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= question_option.deleted_at %>
  </p>

</div>
