<div id="<%= dom_id questionnaire %>">
  <p>
    <strong>Code:</strong>
    <%= questionnaire.code %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= questionnaire.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= questionnaire.description %>
  </p>

  <p>
    <strong>Duration minutes:</strong>
    <%= questionnaire.duration_minutes %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= questionnaire.deleted_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= questionnaire.user_id %>
  </p>

</div>
