<div id="<%= dom_id questionnaire %>">
  <p>
    <strong>Código:</strong>
    <%= questionnaire.code %>
  </p>

  <p>
    <strong>Título:</strong>
    <%= questionnaire.title %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= questionnaire.description %>
  </p>

  <p>
    <strong>Duração (minutos):</strong>
    <%= questionnaire.duration_minutes %>
  </p>

  <p>
    <strong>Criado por:</strong>
    <%= questionnaire.user.email %>
  </p>
</div>