<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Resultado do Quiz: <%= @questionnaire.title %></h1>
    
    <div>
      <p>Olá <%= @user.email %>,</p>
      
      <p>Aqui está o resultado do seu quiz:</p>
      
      <ul>
        <li>Pontuação: <%= @result.score %>%</li>
        <li>Respostas corretas: <%= @result.correct_answers %></li>
        <li>Total de questões: <%= @result.total_questions %></li>
        <li>Data de conclusão: <%= @result.submitted_at.strftime("%d/%m/%Y %H:%M") %></li>
      </ul>
      
      <p>Continue praticando!</p>
    </div>
  </body>
</html>